---
layout: default
bodyClass: "page-collections"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
      <div class="col-12">
              <h1 class="title">{{page.title}}</h1>

              <div class="container pt-6 pb-6">
                <div class="row">
                  {% for newspost in site.news reversed %}
                  <div class="col-12 col-md-3 col-lg-3">
                    <div class="collection collection-summary">
                      <div class="collection-content">
                        <h2 class="collection-title">
                          {{ newspost.date | date: "%m-%d-%Y" }}
                        </h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-7 col-lg-7">
                    <div class="collection collection-summary">
                      <div class="collection-content">
                        <h2 class="collection-title">
                          <a href="{{ newspost.url | relative_url }}">{{ newspost.title }}</a>
                        </h2>
                        <p>{{ newspost.content | markdownify | strip_html | truncate: 100 }}</p>
                        <br>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>


      </div>
  </div>
</div>
