---
layout: default
bodyClass: "page-collections"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
      <div class="col-12">
              <h1 class="title">{{page.title}}</h1>

<div class="container pt-6 pb-6">
  <div class="row">
    {% for collection in site.papers reversed %}
    <div class="col-12 col-md-12 mb-3">
          <p><a href="{{ collection.url | relative_url }}">{{ collection.title }}</a></p>
          <p style="font-size:80%"> {{ collection.refShort }} </p>
    </div>
    {% endfor %}
  </div>
</div>

</div>
</div>
</div>
