---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="collection collection-single">
                <h2 class="title">{{page.title}}</h2>
                <br>
                <div class="content">{{content}}</div>
                <p style="font-size:80%"">Posted: {{page.date | date: "%m-%d-%Y" }}</p>
            </div>
        </div>
    </div>
</div>
